RAILS_ENV=production
RAILS_LOG_LEVEL=info
SECRET_KEY_BASE=replace-with-output-from-bin-rails-secret

PLEX_HOST=plexadmin.wjr.us
PLEX_HOSTS=plexadmin.wjr.us
PLEX_ASSUME_SSL=true
PLEX_FORCE_SSL=false

PLEX_DATABASE_PASSWORD=must-match-env-postgres-postgres-password

ADMIN_USERS=wjr@wjr.us
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

PLEX_TOKEN=
PLEX_MACHINE_IDENTIFIER=
PLEX_API_BASE_URL=https://plex.tv
PLEX_SERVER_BASE_URL=http://plex.wjr.us:32400
PLEX_HISTORY_PAGE_SIZE=1000
PLEX_HISTORY_MAX_PAGES=all
PLEX_HISTORY_DAYS=730
PLEX_DAILY_REFRESH_AT=04:15
PLEX_DAILY_REFRESH_DAYS=1
PLEX_CLIENT_IDENTIFIER=plex-admin-production
PLEX_CLIENT_NAME=Plex Admin
